body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #131516;
}

#canvas {
    margin: 4vh 0;
    max-height: 80vh;
}

.buttons > button {
    width: 8vw;
    height: 8vw;
    font-size: 2vw;
    margin: 0 1vw;
    border-radius: 10%;
    border: 2px solid #847b6d;
    background-color: #303436;
    color: #d8d4cf;
}
